
:myvariables {
    --primary-color: rgb(238, 194, 238);
    --font: comic
}

.navbar{
        background-color: var(--primary-color);
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
    }
.navbar .menu{
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar .menu {
        display: flex;
    }
}

@media screen and (min-width: 992px) {
    .navbar .menu .link:hover {
        color:rgb(238, 194, 238);
    }
}

.header-picture{
        background-image: url("https://integradosporelarte.files.wordpress.com/2015/06/monet_0020_nympheas.jpeg");
        opacity: 50%;
        padding: 0%;
        width: 100%;
        text-align: center;
        display: flex;
    }


.subtitle h2{
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 5px;
        color: rgb(245, 42, 42);
        font-size: 16px;
    }


.progress-bar{
        background: #959595;
        width: 600px;
        height: 10px;
        border-radius: 5px;
    }

.progress-bar div{
        height: 10px;
        border-radius: 5px;
        width: 50%;
        background: red;
    }

.footer{
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;

    }

.footer .footerimg{
    size: 1rem;
}