
:root {
    --primary-color: rgb(238, 194, 238);
}

body{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

.navbar{
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

nav ul{
    list-style-type: none;
}

.navbar .menu{
    display: none;
}

.navbar .menu .link {
    margin-left: 2rem;
  }

@media screen and (min-width: 768px) {
    .navbar .menu {
      display: flex;
      padding: 1rem;
    }
  }

@media screen and (min-width: 992px) {
    .navbar .menu .link:hover {
        color: black;
        padding: 1rem;
    }
}


.header-picture{
        background-image: url("https://integradosporelarte.files.wordpress.com/2015/06/monet_0020_nympheas.jpeg");
        opacity: 50%;
        display: flex;
        background-repeat: no-repeat;
        background-size:cover;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

main{
    justify-content: center;
    align-items: center;
}

h2{
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 5px;
        color: #000;
        size: 2rem;
        text-decoration-line: underline;
    }

.container{
    display: flex;
    align-items: vertical;
    justify-content: center;
    border-style:ridge
}

.progress-bar{
        background: #959595;
        width: 600px;
        height: 10px;
        border-radius: 5px;
    }

.progress-bar div{
        height: 10px;
        border-radius: 5px;
        width: 50%;
        background: red;
    }

.footer{
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10%;


    }