
:root {
    --primary-color: rgb(238, 194, 238);
}

body{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

.navbar{
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

nav ul{
    list-style-type: none;
}

.navbar .menu{
    display: none;
}

.navbar .menu .link {
    margin-left: 2rem;
  }

.container{
    box-shadow: none;
    display: flex;
    padding: 3rem 3rem 3rem 3rem; 
    flex-wrap: wrap; 
    justify-content: space-around;
}

.container .picture{
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

@media screen and (min-width: 768px) {
    .navbar .menu {
      display: flex;
      padding: 1rem;
    }
  }

@media screen and (min-width: 992px) {
    .navbar .menu .link:hover {
        color: black;
        padding: 1rem;
    }
    .container{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 3rem;
    justify-content: space-between;
    box-shadow: 10px 5px #959595;
    border-radius: 10%;
    }    
 }

.header-picture{
        background-image: url("https://integradosporelarte.files.wordpress.com/2015/06/monet_0020_nympheas.jpeg");
        opacity: 50%;
        display: flex;
        background-repeat: no-repeat;
        background-size:cover;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

main{
    justify-content: center;
    align-items: center;
}

h2{
        font-weight: 400;
        margin-top: 10rem;
        margin-bottom: 5px;
        color: #000;
        size: 2rem;
        text-decoration-line: underline;
        margin-left: 4rem;
    }

    .skills {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin: 0.5em 1em;
    }
    
    .skills .skill-back{
        width: 100%
    }

    .skills .skills-bar{
        position: relative;
        border: 0.05em solid #2e0528;
        border-radius: 20px;
    }
    
    .skills .skills-bar-div{
        position: relative;
        width: 0;
        height: 0.5em;
        border-radius: 10px;
        background-color: #f16ed9;
    }
    
    .skills .bar-80{
        animation: anima-bar-80 5s forwards;
    }
    @keyframes anima-bar-80{
        100%{
            width: 80%;
        }
    }
    
    .skills .bar-70{
        animation: anima-bar-70 5s forwards;
    }
    @keyframes anima-bar-70{
        100%{
            width: 70%;
        }
    }
    
    .skills .bar-75{
        animation: anima-bar-75 5s forwards;
    }
    @keyframes anima-bar-75{
        100%{
            width: 75%;
        }
    }
    
    .skills .bar-10{
        animation: anima-bar-10 5s forwards;
    }
    @keyframes anima-bar-10{
        100%{
            width: 10%;
        }
    }


    form{
        display: flex;
        flex-direction: column;
        padding: 5rem;
        margin: 2rem;
        justify-content: space-between;
        justify-self: center;        
    }

    .etiquetas-form{
        padding: 1rem;
    }

.footer{
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
    }

.footer .footerimg{
    height: auto;
    width: 50px;
    display: flex;
    padding: 10px;
    justify-items: center;
}

